body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(-45deg, #F9F3DF, #FFDEDE, #FFDEFA, #FFC898);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    text-align: center;
    color: white;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}